* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none; 
    font-family: 'Roboto Slab', serif;
 }

 .container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

/* Header */

/* Menu de navegacion */

header {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo .cadelo {
    display: flex;
    align-items: center;
}

header .logo .cadelo img {
    width: 100px;
}

header nav {
    width: 65%;
}

header nav .menu-nav {
    display: flex;
    align-items: center;
}

header nav .menu-nav li {
    margin: 0 5px;
}

header nav .menu-nav li a {
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

header nav .menu-nav li a:hover {
    background: rgba(255, 255, 255, 0.096);
    color: rgba(255, 255, 255, 0.651);
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

header nav img {
    display: none;
}

header #btn_menu {
    display: none;
}

/* Seccion de Menu */

.menu {
    background: url(../img/menu.png) #000;
    background-size: 130%;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.menu .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.menu .title-icons {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.menu .title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.menu .title h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}

.menu .title h2 {
    font-size: 40px;
    letter-spacing: 2px;
}

.menu .icons i {
    font-size: 25px;
    color: rgb(187, 187, 187);
}

.menu .icons .icon-food {
    font-size: 30px;
    color: rgb(187, 187, 187);
}


.menu .container-menu-food {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu .container-menu-food .menu-food .picture-food {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.menu .container-menu-food .menu-food {
    background: rgba(230, 230, 230, 0.486);
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.411);
    margin-bottom: 100px;
}

.menu .container-menu-food .menu-food .picture-food img {
    width: 40%;
}


.menu .container-menu-food .description h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.menu .container-menu-food .description p {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.menu .container-menu-food .description span {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(155, 3, 3);
    border-bottom: 1px solid rgba(151, 151, 151, 0.404);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.menu .container-menu-food .food,
.menu .container-menu-food .wine,
.menu .container-menu-food .sweet,
.menu .container-menu-food .food-takeaway,
.menu .container-menu-food .wine-takeaway,
.menu .container-menu-food .sweet-takeaway {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
}

.menu .container-menu-food .food {
    width: 60%;
}

.menu .container-menu-food .wine {
    width: 60%;
    margin-right: 3%;
}

.menu .container-menu-food .sweet {
    width: 25%;
}

.menu .container-menu-food .food-takeaway {
    width: 25%;
    margin-right: 3%;
}

.menu .container-menu-food .wine-takeaway {
    width: 60%;
}

.menu .container-menu-food .sweet-takeaway {
    width: 60%;
}

/* Pie de pagina */

footer {
    background: #000;
    height: 100%;
    overflow: hidden;
}

footer .copyritgh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .copyritgh p {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

footer .copyritgh a {
    color: rgb(145, 144, 144);
    font-weight: 400;
    transition: .3s;
}

footer .copyritgh a:hover {
    color: rgba(145, 144, 144, 0.486);
}

/* Responsive */

@media (max-width: 1000px) {

    header nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: rgb(20, 20, 20);
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all .3s;
    }

    header nav img {
        display: block;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 40px;
    }

    header nav .menu-nav li {
        margin-top: 40px;
    }

    header nav ul li a {
        color: #fff;
    }

    header #back_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        z-index: 1;
        display: none;
    }
    
    header #btn_menu {
        position: fixed;
        top: 20px;
        left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.466);
        color: #fff;
        border-radius: 50%;
        z-index: 1;
    }

    .menu .container-menu-food {
        flex-wrap: wrap;
    }

    .menu .container-menu-food .menu-food {
        width: 100%;
    }
}